<section class="container-fluid">
  <div class="row">
    <div class="col-3">
      <div class="card custom-card">
        <div class="card-header">Game Info</div>
        <div class="card-body">
          <div><h6 class="card-title d-inline-block mr-2">Score: </h6>{{gameInfo.target_score}}</div>
          <div><h6 class="card-title d-inline-block mr-2`">Creation
            Date: </h6> {{gameInfo.created_at | date: 'dd MMM yy h:mm'}}</div>
          <div><h6 class="card-title d-inline-block mr-2">Last Update
            Date: </h6> {{gameInfo.updated_at | date: 'ddMMM yy h:mm'}}</div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center"
              *ngFor="let user of gameInfo.users">
           <span>
              <span class="mr-2"><strong>Name:</strong> {{user.name}}</span>
            <span><strong>Score:</strong> {{user.score}}</span>
           </span>
            <button class="btn btn-danger" *ngIf="me.id !== user.id && isUserLoggedIn && !gameInfo.winner_id"
                    (click)="kickUser(user.id)">Kick
            </button>
          </li>
          <li class="list-group-item" *ngIf="gameInfo.winner_id">
             <span>
              <span class="mr-2"><strong>Winner:</strong>{{gameInfo.winner.name}}</span>
              <span><strong>Score:</strong>{{gameInfo.winner.score}}</span>
             </span>
          </li>
        </ul>
        <div class="card-body" *ngIf="isUserLoggedIn">
          <a href="#" *ngIf="isUserLoggedIn && !alreadyJoined && !gameInfo.winner_id" class="card-link"
             (click)="joinGame()">Join the Game</a>
          <a href="#" *ngIf="isUserLoggedIn && alreadyJoined && !gameInfo.winner_id" class="card-link"
             (click)="leaveGame()">Leave the Game</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card custom-card">
        <div class="card-header custom-header">
          Users to invite
        </div>
        <ul class="list-group list-group-flush" *ngIf="availableUsersToInvite.length">
          <li class="list-group-item d-flex align-items-center justify-content-between"
              *ngFor="let user of availableUsersToInvite">
            <label>{{user.name}}</label>
            <button class="btn btn-success" *ngIf="isUserLoggedIn" (click)="inviteUser(user.id)">Invite</button>
          </li>
        </ul>
        <ul class="list-group list-group-flush" *ngIf="!availableUsersToInvite.length">
          <li class="list-group-item d-flex align-items-center justify-content-between">
            There is not any user!
          </li>
        </ul>
      </div>
    </div>
    <div class="col-3">
      <div class="custom-form-wrapper">
        <h2 class="custom-form-header">Update Game</h2>
        <form [formGroup]="updateGameForm" class="custom-form-container" (ngSubmit)="updateGame()">

          <p [ngClass]="{ 'has-error': isAddGameScoreFormSubmitted && addGameScoreFormControls.targetScore.errors }">
            <input type="number" placeholder="Target Score" formControlName="targetScore">
          </p>
          <div *ngIf="isAddGameScoreFormSubmitted && addGameScoreFormControls.targetScore.errors" class="help-block">
            <div *ngIf="addGameScoreFormControls.targetScore.errors.required">Target Score is required</div>
          </div>

          <p>
            <input type="submit" value="Update Game">
          </p>

        </form>
      </div>
    </div>
    <div class="col-3">
      <div class="custom-form-wrapper">
        <h2 class="custom-form-header">Add Game Score</h2>
        <form [formGroup]="addGameScoreForm" class="custom-form-container" (ngSubmit)="addGameScore()">

          <p [ngClass]="{ 'has-error': isAddGameScoreFormSubmitted && addGameScoreFormControls.score.errors }">
            <input type="number" placeholder="Score" formControlName="score">
          </p>
          <div *ngIf="isAddGameScoreFormSubmitted && addGameScoreFormControls.score.errors" class="help-block">
            <div *ngIf="addGameScoreFormControls.score.errors.required">Score is required</div>
          </div>

          <p>
            <input type="submit" value="Add Game Score">
          </p>

        </form>
      </div>
    </div>
  </div>
</section>
