<section>
  <div>Score: {{gameInfo.target_score}}</div>
  <div>Creation Date: {{gameInfo.created_at}}</div>
  <div>Last Update Date: {{gameInfo.updated_at}}</div>
  <ul>Users:
    <li *ngFor="let user of gameInfo.users">
      <div>Name: {{user.name}}</div>
      <div>Score: {{user.score}}</div>
      <button class="btn btn-danger btn-lg" (click)="kickUser(user.id)">Kick</button>
    </li>
  </ul>
  <div *ngIf="gameInfo.winner_id">
    Winner:
    <ul>
      <li>
        Winner Name: {{gameInfo.winner.name}}
      </li>
      <li>
        Winner Score: {{gameInfo.winner.score}}
      </li>
    </ul>
  </div>
  <button *ngIf="isUserLoggedIn && !alreadyJoined" class="btn btn-info btn-lg" (click)="joinGame()">Join</button>

  <button *ngIf="isUserLoggedIn && alreadyJoined" class="btn btn-info btn-lg" (click)="leaveGame()">Leave</button>

  <h3>Users to invite:</h3>
  <ul>
    <li *ngFor="let user of availableUsersToInvite">
      {{user.name}}
      <button class="btn btn-default btn-lg" (click)="inviteUser(user.id)">Invite</button>
    </li>
  </ul>
</section>
