<ng-container *ngIf="games.length">
  <div class="container-fluid">
    <div class="row">
      <div class="card-deck custom-card-desk">
        <div class="card" *ngFor="let game of games | paginate: { id: 'foo',
                                                      itemsPerPage: itemsPerPage,
                                                      currentPage: currentPage,
                                                      totalItems: total }">
          <div class="card-header">Game #{{game.id}}</div>
          <div class="card-body">
            <div><h6 class="card-title d-inline-block mr-2">Target Score: </h6>{{game.target_score}}</div>
            <div><h6 class="card-title d-inline-block mr-2">Creation
              Date: </h6>{{game.created_at| date: 'dd MMM yy h:mm'}}</div>
            <div><h6 class="card-title d-inline-block mr-2">Last Update
              Date: </h6>{{game.updated_at| date: 'dd MMM yy h:mm'}}</div>
            <div *ngIf="game.winner"><h6 class="card-title d-inline-block mr-2">Winner Name: </h6>{{game.winner.name}}
            </div>
            <div *ngIf="game.winner"><h6 class="card-title d-inline-block mr-2">Winner Score: </h6>{{game.winner.score}}
            </div>
          </div>
          <div class="card-footer">
            <small class="text-muted">
              <a routerLink="/game/{{game.id}}">Details</a>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</ng-container>

<ng-container *ngIf="games.length < 1">
  <div> There is not any game to show.</div>
</ng-container>

