<ng-container *ngIf="games.length">
  <ul>
    <li *ngFor="let game of games | paginate: { id: 'foo',
                                                      itemsPerPage: itemsPerPage,
                                                      currentPage: currentPage,
                                                      totalItems: total }">
      <div>Creation date: {{game.createdAt}}</div>
      <div>Last update date: {{game.updatedAt}}</div>
      <div>Target Score: {{game.targetScore}}</div>
      <div *ngIf="game.winner">Winner Name: {{game.winner.name}}</div>
      <div *ngIf="game.winner">Winner Score: {{game.winner.score}}</div>
      <a routerLink="/game/{{game.id}}">Details</a>
    </li>

  </ul>

  <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</ng-container>

<ng-container *ngIf="games.length < 1">
  <div> There is not any game to show.</div>
</ng-container>

