<ul class="nav">
  <li class="nav-item">
    <a routerLink="users" class="nav-link">All Users</a>
  </li>
  <li class="nav-item">
    <a routerLink="games" class="nav-link">All Games</a>
  </li>
  <li class="nav-item">
    <a *ngIf="!isUserLoggedIn" routerLink="login" class="nav-link active">Login</a>
  </li>
  <li class="nav-item">
    <a *ngIf="!isUserLoggedIn" routerLink="register" class="nav-link">Register</a>
  </li>
  <li *ngIf="isUserLoggedIn" class="nav-item">
    <a routerLink="profile" class="nav-link">Profile</a>
  </li>
  <li *ngIf="isUserLoggedIn" class="nav-item">
    <a routerLink="create-game" class="nav-link">Create Game</a>
  </li>
  <li class="nav-item">
    <a *ngIf="isUserLoggedIn" routerLink="login" (click)="logoutUser()" class="nav-link">Logout</a>
  </li>
  <li class="nav-item username" *ngIf="username">
    <div class="user-img-wrapper d-flex justify-content-center align-items-center">
      <strong class="nav-link">{{username}}</strong>
      <img class="user-img" src="../assets/images/user.png"/>
    </div>
  </li>
</ul>


<div id="loading-spinner">
  <div class="loader">Loading...</div>
</div>

<div class="alert alert-danger" id="dart-alert" role="alert">
</div>

<router-outlet></router-outlet>
<div class="background-img"></div>
