.profile {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

.profile-header,
.profile p {
  margin-top: 0;
  margin-bottom: 0;
}

.profile-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: rgb(15, 66, 107);
}

.profile-header {
  background: rgb(12, 77, 129);
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.profile-container {
  background: #ebebeb;
  padding: 12px;
}

.profile {
  p {
    padding: 12px;
  }

  input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
  }
}

.profile input {
  background: #fff;
  border-color: #bbb;
  color: #000;
}

.profile input:focus {
  border-color: #888;
}

.profile input[type="submit"] {
  background: rgb(1, 29, 51);
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.profile input[type="submit"]:hover {
  background: #17c;
}

.profile input[type="submit"]:focus {
  border-color: #05a;
}

.btn {
  padding: 16px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 94%;
  font-size: 0.95em;
  margin-left: 3%;
  color: #fff;
}

.user-info-wrapper {
  padding: 18px;
}
