.btn {
  padding: 16px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 94%;
  font-size: 0.95em;
  margin-left: 3%;
  color: #fff !important;
}

.user-info-wrapper {
  padding: 18px;
}
